@using ResumableFunctions.Handler.UiService.InOuts;
@model List<PushedCallInfo>
<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Latest Calls</b></h2>
    </header>

    <div class="w3-container">
        <p>
            <label>Search</label>
            <input class="w3-input w3-border" type="text" required="" placeholder="Search by Method Name">
        </p>
        <table class="w3-table-all">
            <thead>
                <tr class="w3-indigo">
                    <th>Method</th>
                    <th>Input</th>
                    <th>Output</th>
                    <th>Status</th>
                    <th>Matched Waits</th>
                    <th>Completed Waits</th>
                    <th>Date</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul>
                            <li>
                                <a href="./RFUI/PushedCallDetails" class="w3-text-blue">@item.PushedCall.MethodData.MethodUrn</a>
                            </li>
                            <li><b>Method: </b>@item.PushedCall.MethodData.MethodName</li>
                            <li><b>Class: </b>@item.PushedCall.MethodData.ClassName</li>
                            <li><b>Assembly: </b>@item.PushedCall.MethodData.AssemblyName</li>
                        </ul>
                    </td>
                    <td class="JsonObject">@item.PushedCall.Input</td>
                    <td class="JsonObject">@item.PushedCall.Output</td>
                    <td>@(item.PushedCall.IsFinished ? "Processing Finished" : "In Progress")</td>
                    <td><a href="#completed" class="w3-text-blue">@item.PushedCall.MatchedWaitsCount</a></td>
                    <td><a href="#completed" class="w3-text-blue">@item.PushedCall.CompletedWaitsCount</a></td>
                    <td>@item.PushedCall.Created</td>
                </tr>
            }
        </table>
        <button class="w3-button w3-indigo w3-margin-top">Show More...</button>
    </div>
</div>