@*Services*@
@model ServicesListModel
<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Services List</b></h2>
    </header>
    <div class="w3-container">
        <table class="w3-table-all">
            <thead>
                <tr class="w3-indigo">
                    <th>Service Name</th>
                    <th>Service Url (Swagger)</th>
                    <th>Scan Logs</th>
                    <th>Resumable Functions</th>
                    <th>Method Waits</th>
                    <th>Hangfire Dashboard</th>
                </tr>
            </thead>
            @foreach (var service in Model.Services)
            {
                var swaggerUrl = string.Concat(service.Url?.TrimEnd('/')??"NO", "/swagger");
                var hangfireUrl = string.Concat(service.Url?.TrimEnd('/')??"NO", "/hangfire");
                <tr>
                    <td><a href="./RF/ServiceDetails?id=@(service.Id)" class="w3-text-blue">@service.Name</a></td>
                    <td><a href="@swaggerUrl" class="w3-text-blue">Swagger</a></td>
                    <td>
                        <a href="#" class="w3-text-@(service.ScanLogErrors == 0 ? "green" :"red")">
                            @(service.ScanLogErrors == 0 ? "No Errors" : $"{service.ScanLogErrors} Error")
                        </a>
                    </td>
                    <td><a href="#res" class="w3-text-blue">@service.FunctionsCount</a></td>
                    <td><a href="#res" class="w3-text-blue">@service.MethodsCount</a></td>
                    <td><a href="@hangfireUrl" class="w3-text-blue">HangFire</a></td>
                </tr>
            }
        </table>
    </div>
</div>