@using ResumableFunctions.Handler.UiService.InOuts;
@model List<FunctionInfo>
<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Resumable Functions</b></h2>
    </header>
    <div class="w3-container">
        <p>
            <label>Search</label>
            <input class="w3-input w3-border" type="text" required="" placeholder="Search by Function Name">
        </p>
        <table class="w3-table-all">
            <thead>
                <tr class="w3-indigo">
                    <th>Function URN</th>
                    <th>Function Name</th>
                    <th>First Wait</th>
                    <th>In-progress</th>
                    <th>Failed</th>
                    <th>Completed</th>
                    <th>Created</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count; i++)
            {
                var function = Model[i];

                <tr>
                    <td><a href="~/rf/ResumableFunctionInstances" class="w3-text-blue">@function.URN</a></td>
                    <td>@function.FullName</td>
                    <td>
                        @if (function.IsEntryPoint)
                        {
                            <span>@(function.FirstWait == null ?
                                "<span class='w3-text-red'>No First Wait Exist</span>" :
                                function.FirstWait)</span>
                        }
                        else
                        {
                            <span class="w3-text-blue-gray">Not an entry point</span>
                        }
                    </td>
                    <td>
                        @if (@function.InProgress != 0)
                        {
                            <a href="#completed" class="w3-text-blue">@function.InProgress</a>
                        }
                        else
                        {
                            <span>No Instances</span>
                        }
                    </td>
                    <td>
                        @if (@function.Failed != 0)
                        {
                            <a href="#completed" class="w3-text-blue">@function.Failed</a>
                        }
                        else
                        {
                            <span>No Instances</span>
                        }
                    </td>
                    <td>
                        @if (@function.Completed != 0)
                        {
                            <a href="#completed" class="w3-text-blue">@function.Completed</a>
                        }
                        else
                        {
                            <span>No Instances</span>
                        }
                    </td>
                    <td>@function.Created</td>
                    <td>
                        @if (function.LastUpdated == DateTime.MinValue)
                        {
                            <span>Not Changed</span>
                        }
                        else
                        {
                            <span>@function.LastUpdated</span>
                        }

                    </td>
                </tr>
            }
        </table>
        @*<button class="w3-button w3-indigo w3-margin-top">Show More...</button>*@
    </div>
</div>